{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">

        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vitae suscipit enim sed laudantium
            deleniti
            dolore. Nemo laboriosam quasi veniam ipsa optio magni quibusdam fugit esse illo, cumque eos et. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Quis, accusamus reprehenderit corrupti, in facilis sapiente sit
            mollitia rem, sequi dolores iusto aspernatur nihil adipisci iure commodi beatae. Deserunt, doloribus quos.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat et vero facilis fugit, tempora numquam
            dignissimos officia ullam nihil eos, in iste voluptatibus temporibus aliquam. Totam nisi reiciendis modi
            doloribus.
        </p>

        {% if user.is_authenticated %}
        {% else %}

        <div class="text-center">
            <a href="/signin/" class="btn btn-secondary">
                Signin
            </a>
            <a href="/signup/" class="btn btn-dark">
                Sign Up
            </a>
        </div>

        {% endif %}

    </section>

</main>


{% endblock %}