{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, vitae suscipit enim sed laudantium deleniti dolore. Nemo laboriosam quasi veniam ipsa optio magni quibusdam fugit esse illo, cumque eos et. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, accusamus reprehenderit corrupti, in facilis sapiente sit mollitia rem, sequi dolores iusto aspernatur nihil adipisci iure commodi beatae. Deserunt, doloribus quos.</p>

{% endblock %}